<%# This file defines the EJS template for the "Users" page, which displays a list of all registered users in the system. Each user is displayed with their name and email, and clicking on a user's name will take you to their profile page. The page also includes a link to register a new user and a link to go back to the home page. %>

<%# This file is to be removed in the future as we will be implementing a more comprehensive user management system. For now, it serves as a simple demonstration of how to display user information using EJS templates. %>

<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Users</h1>

  <a href="/users/register">Register New User</a>
  <br /><br />

  <ul>
    <% users.forEach(user => { %>
      <li>
        <a href="/users/<%= user.user_id %>">
          <strong><%= user.name %></strong>
        </a>
        - <%= user.email %>
      </li>
    <% }) %>
  </ul>

  <br />
  <a href="/">Back Home</a>
</body>
</html>